.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 300px;
  margin: 0 auto;
}

.label {
  margin: 5px 0;
}

.input {
  max-width: 100%;
  width: 300px;
  height: 30px;
  outline: none;
  border: 1px solid #ccc;
}
.input:focus {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}
.showCircle {
  display: none;
}
.circle {
  position: absolute;
  top: 10px;
  right: 5px;
}
.timesCircle {
  color: red;
}
.checkCircle {
  color: green;
}

.inputContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.labelContainer {
  display: flex;
  position: relative;
  justify-content: space-between;
}
.submitAddContact {
  margin: 10px 0;
}
.hideIcon {
  display: none;
}
