.table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.tableRow {
  display: table-row;
}
.tableRow .tableHeader {
  display: table-cell;
  padding: 1em;
  background: #f0f0f0;
  width: 25%;
}

.tableHeader {
  font-weight: bold;
}
