.container {
  text-align: center;
  margin-bottom: 30px;
}

.btnStyles {
  background: #6495ed;
  text-decoration: none;
  padding: 10px 15px;
  color: #000;
  cursor: pointer;
}
.btnStyles:hover {
  color: #fff;
}
