.cardTitle {
  font-size: 25px !important;
  color: #fff;
  margin-bottom: 0 !important;
}
.cardBody {
  padding: 0 !important;
  margin: 0 !important;
  height: 380px;
  width: 300px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 6px 6px 12ps #b58e23,
              -6px -6px 12px #fffc3f;
  background: #fbc531;
}
.infoIcon {
  position: absolute;
  right: 5px;
  top: 5px;
}
.img {
  width: 300px;
  height: 380px;
  overflow: hidden;
}

.img img {
  position: relative;
  top: 0;
  left: 0;
}

.cardBody:hover .img {
  height: 50%;
}

.mainCard {
  margin: 0;
  padding: 0;
  border: none !important;
}

.listGroup {
  background-color: #6699CC !important;
  border: none !important;
}
.iconUpdate {
  color: #f06543;
  background-color: linear-gradient(315deg, #f06543 0%, #ffbe3d 74%);
  margin: 5px;
}
.iconUpdate:hover {
  color: #ff8c00;
}

.iconDelete {
  color: #eb4511;
  background-color: linear-gradient(315deg, #eb4511 0%, #b02e0c 74%);
  margin: 5px;
}

.icon {
  font-size: 1em;
}
.alignIcons {
  display: flex;
  justify-content: space-between;
}
